html, body { 
margin: 0; 
padding: 0;
}

body { 
background: #FFF;
color: #000;

font-size: .9em; /* Base: 13px */
font-family: 'Microsoft Sans Serif', tahoma, arial, sans-serif;
}


/* HTML ELEMENTS
------------------------------------ */

* { margin: 0; }

a, a:link {
color: #900;
text-decoration: underline;
}


p {
padding: 0 0 1.5em 0;
}

table {
border: 0px;
border-collapse: collapse; /* border-collapse:separate; */
}
table td {
padding: 0px;
}

input {
vertical-align: middle;
}


/* SPECIAL ELEMENTS
------------------------------------ */

.textsmall  { font-size: 0.9em; }
.textsmall2 { font-size: 0.85em; }
.textsmall3 { font-size: 0.79em; }
.textbig    { font-size: 1.1em; }
.textbig2   { font-size: 1.15em; }

.textblack { color: #000; }
.textgray  { color: #7C7C7C; }
.textred   { color: #F00; }

/* IDs
------------------------------------ */

#TextHeader {
padding: 12px 50px;
background: #CAA;
color: #000;
}
#TextHeader p {
line-height: 1.2em;
font-family: tahoma, sans-serif;
font-size: 0.85em;
padding-bottom: 0;
margin-bottom: 0;
}


#TextContent {
width: 520px;
max-width: 92%;
margin: 20px auto;
color: #333;
line-height: 1.8em;
}

#TextContent h1 {
font-family: georgia, 'Trebuchet MS', tahoma, sans-serif;
text-align: center;
font-size: 33px;
font-weight: normal;
color: #666;
margin-bottom: 50px;
line-height: 50px;
}

#TextContent h2 {
font-family: georgia, 'Trebuchet MS', tahoma, sans-serif;
text-align: center;
font-size: 33px;
font-weight: normal;
color: #633;
margin-bottom: 10px;
}

#TextContent p span {
font-size: 1.15em;
font-family: georgia, serif;
font-style: italic;
}
#TextContent p span i {
font-weight: bold;
letter-spacing: 2px;
}

#TextContent h4 {
font-weight: normal;
font-family: georgia, serif;
text-align: center;
color: #666;
font-size: 2.1em;
padding-bottom: 1em;
padding-top: 20px;
}
#TextContent h4.bullets {
font-weight: bold;
text-align: center;
font-family: georgia, serif;
font-size: 2em;
letter-spacing: 5px;
margin-top: 1em;
padding-bottom: 0;
color: #333;
}
#TextContent h4.number {
font-weight: normal;
font-family: georgia, serif;
text-align: center;
color: #999;
font-size: 0.9em;
padding-bottom: 1em;
letter-spacing: 5px;
}
#TextContent h4.bullets a {
color: #333;
text-decoration: none;
}
#TextContent h4.number a {
color: #999;
text-decoration: none;
}
#TextContent h4.number a:hover { text-decoration: underline; }

p.illustration {
text-align: center;
padding: 2em 0 60px 0;
font-size: 0.79em;
font-family: tahoma, arial, sans-serif;
color: #999;
line-height: normal;
}
p.illustration a {
color: #999;
text-decoration: none;
}
p.illustration a:hover { text-decoration: underline; }

p.center { 
text-align: center; 
margin-top: 0; 
color: #966;
}

div.theme_divider {
margin: 25px 0;
/* border-top: #999 double 3px; */
height: 3px;
font-size: 0px;
line-height:0px;
}

#TextContent .title_menu {
margin-left: 20px;
}

#TextContent .title_menu li {
font-family: georgia, 'Trebuchet MS', tahoma, sans-serif;
font-size: 21px;
font-weight: normal;
color: #633;
padding-bottom: 10px;
}

#TextContent .title_menu li a {
color: #633;
}

#TextContent blockquote {
	padding-left:1em;
	margin:0 0 1.5em 0;
	font-style:italic;
}




