html, body { margin:0; padding:0; width:100%; }


/* ******************************************************** */


article
{
  display:block;
  font: 1.25em/1.555em 'Times New Roman', serif;
  padding:4%;
  max-width:720px;
}
article:after
{
  content:'\2740  \2740  \2740';
  display:block;
  text-align:center;
  margin-top:3em;
  font-size:2rem;
  color:coral;
}
article.without-after:after { display:none; }

article header
{
  margin:2em 0;
  font-style:italic;
  letter-spacing:1px;
}
article header:first-of-type { margin-top:0; }

article header h2
{
  margin:0;
  font: normal 2em/1.5em 'Times New Roman', serif;
  font-style:normal;
  letter-spacing:1px;
}

article header h3
{
  margin:0;
  font: normal 1.25em/1.5em 'Times New Roman', serif;
}